############################################################
# RutaSmart Enterprise
# Git Ignore
############################################################

##############################
# Maven
##############################

target/
**/target/

##############################
# IntelliJ IDEA
##############################

.idea/
*.iml

##############################
# Visual Studio Code
##############################

.vscode/

##############################
# Eclipse
##############################

.project
.classpath
.settings/

##############################
# NetBeans
##############################

nbproject/private/

##############################
# Logs
##############################

*.log
logs/

##############################
# Java
##############################

*.class

##############################
# OS
##############################

.DS_Store
Thumbs.db

##############################
# Spring Boot
##############################

**/application.properties
**/application-dev.properties

##############################
# Environment
##############################

.env
.env.*
!.env.example

##############################
# Secrets
##############################

*.pem
*.key
*.p12
*.jks
*.keystore

##############################
# Node
##############################

node_modules/

##############################
# Angular
##############################

.angular/
dist/

##############################
# Build
##############################

build/
out/

##############################
# Temporary
##############################

tmp/
temp/

##############################
# Coverage
##############################

coverage/

##############################
# Mac
##############################

.AppleDouble
.LSOverride

##############################
# Windows
##############################

Desktop.ini

##############################
# Linux
##############################

*~